.contact {
  .social {
    li {
      margin: 5px 0;
    }

    a {
      .border-radius( 10px );
      font-size: 32px;
      line-height: 40px;
      text-shadow: none;

      .transition( 0.25s );

      &:hover {
        background-color: #FF6600;
        color: @white;
      }
    }
  }

  .headline {
    margin-top: 30px;
    font-size: 60px;
    line-height: 100px;

    .huge {
      font-size: 90px;
      font-weight: bold;
      letter-spacing: 3px;
      color: @colorstripColor;
    }

    .highlight {
      color: #FF6600;
    }
  }

  .stream {
    li {
      margin: 10px 0;
      padding: 5px;
      .border-radius( 6px );
      .transition( background-color 0.25s );

      &:hover {
        background-color: lighten( #FF6600, 10% );
      }
    }

    .date {
      font-size: 13px;
      color: @grayLight;
    }

    .link-to-post {
      font-size: 13px;
    }
  }
}
