---
layout: default
---

<div class="side-col-left">
    <div class="box">
        <h3>Navigation</h3>
        <ul class="navigation">
            <li><a href="/">Blog</a></li>
            <li><a href="/about">Who am I?</a></li>
            <li><a href="/contact">Get in Touch</a></li>
        </ul>
    </div>

    <div class="box">
        <h3>Keep in Touch</h3>
        <ul class="socnet">
            <li class="rss"><a href="/feed">Subscribe to the Feed</a></li>
            <li class="twitter"><a href="http://www.twitter.com/joshdmiller">Follow me on Twitter</a></li>
            <li class="linkedin"><a href="http://www.linkedin.com/in/joshdmiller">Connect with me on LinkedIn</a></li>
        </ul>
    </div>
</div>

<div class="main-col-right">
    {{ content }}
</div>
