<!DOCTYPE html>
<html ng-app="jdmApp" ng-controller="AppCtrl">
  <head>
    <title>Josh David Miller :: joshdmiller.com</title>
    <link rel="stylesheet" type="text/css" href="assets/<%= grunt.config.get('pkg.name') %>.css"/>
    <!--[if IE 7]>                                                                
      <link rel="stylesheet" href="assets/font-awesome-ie7.min.css">            
    <![endif]-->  

    <script type="text/javascript" src="assets/libs.js"></script>
    <script type="text/javascript" src="assets/<%= grunt.config.get('pkg.name') %>.js"></script>
  </head>
  <body>
    <!-- top navbar -->
    <div class="topbar" ng-controller="HeaderCtrl">
      <div class="colorstrip"></div>
      <div class="container">
        <span class="brand" href="#/">
          Josh David Miller<br />
          <small>Open Source Product Manager</small>
        </span>
        <ul class="nav">
          <li ng-class="{ active: isAt( '/home' ) }">
            <a href="#/home"><i class="icon-home"></i> Home</a>
          </li>
          <li ng-class="{ active: isAt( '/projects' ) }">
            <a href="#/projects"><i class="icon-folder-open"></i> What I'm Doing</a>
          </li>
          <li ng-class="{ active: isAt( '/resume' ) }">
            <a href="#/resume"><i class="icon-ok-sign"></i> What I've Done</a>
          </li>
          <li ng-class="{ active: isAt( '/contact' ) }">
            <a href="#/contact"><i class="icon-phone"></i> Keep in Touch</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main" ng-view></div>

    <footer class="footer">
      <div class="container">
        <ul class="social">
          <!-- FIXME: replace with directive for masking the address -->
          <li><a target="_blank" href="mailto:josh@joshdmiller.com"><i class="icon-envelope-alt"></i></a></li>
          <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="icon-google-plus-sign"></i></a></li>
          <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="icon-twitter-sign"></i></a></li>
          <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="icon-linkedin-sign"></i></a></li>
          <li><a target="_blank" href="http://github.com/joshdmiller"><i class="icon-github-sign"></i></a></li>
        </ul>

        <p>
          <a href="#"><i class="icon-arrow-up"></i> Back to Top</a>
          <br />
          <br />

          (c) 2013 Josh David Miller. This site is 
          <a href="http://github.com/joshdmiller/joshdmiller.com">open source</a>.
          <br />
          And proudly uses 
          <a href="http://www.angularjs.org">AngularJS</a>,
          <a href="http://getbootstrap.com">Bootstrap</a>, 
          <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
          and 
          <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
        </p>

      </div>
    </footer>
  </body>
</html>
